@model EticaretProje.DB.Products

@{
    if (string.IsNullOrEmpty(Model.ProductImageName))
    {
        Model.ProductImageName = "İmages/300x150.png";
    }
}
<div class="col-md-3 col-sm-4 col-xs-12">
    <div class="thumbnail">
        <img src="~/@Model.ProductImageName" class="img img-responsive" style="max-height:126px;">
        <div class="caption">
            <h5 class="ProductNameStyle">@Model.Name</h5>

            <p>
                <a href="~/Home/AddBasket/@Model.Id" class="btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Sepete Ekle
                </a>
                <button onclick="GetProductInfo(@Model.Id)" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Bilgi
                </button>
            </p>
        </div>
    </div>
</div>



